
 /*apricot*/
    /*First*/
    .apricot {
        position: relative;
        width: 300px; 
        height: 173.21px;
        background-color: #F27C38;
        margin: 170px 520px;
        }
        
    .apricot:before,
    .apricot:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    }
    
    .apricot:before {
    bottom: 100%;
    border-bottom: 86.60px solid #F27C38;
    }
    
    .apricot:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #F27C38;
    }
    /*second apricot*/
    .apricot_second {
        position: absolute;
        width: 250px; 
        height: 144.34px;
        background-color: #5D7090;
        margin: -327px 545px;
        }
        
    .apricot_second:before,
    .apricot_second:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    }
    
    .apricot_second:before {
    bottom: 100%;
    border-bottom: 72.17px solid #5D7090;
    }
    
    .apricot_second:after {
    top: 100%;
    width: 0;
    border-top: 72.17px solid #5D7090;
    }