 /* ~~~~~~~~~~~~~~~~~~~~~~~
   
    Table of content

    1. Global Style
    2. Typography
    3. Layout
        3.1 Headers
        3.2 Sections
        3.3 Footers
    4. Components
        4.1 Navigation bar
            4.1.1 Dropdown
        4.2 Section
        4.3 Footer
        4.4 Links
    5. Responsive Rules

    ~~~~~~~~~~~~~~~~~~~~~~~ */


/* ============ 
   Global Style
   ============ */

   body {
    background:rgb(66, 66, 66) ;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ============ 
    Typography
   ============ */

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

/* =========
    Layout
   ========= */
   
   /*headers*/


header.team{
    background-image: url("images/team/DSCF4930.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-position-x: 75%;
    height: 600px;
}

/* Sections */

#Home{
    background-image: url(images/wallpaint/miniature_video.png);
    position: static;
    top: 0px;
    height: 1080px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top left;
}

#Home h1{
    width: 100%;
    position:absolute;
    bottom: 10%;
}
section {
    background-color: #5D7090;
    color: black;
    height: 5000px;
    padding-top: 200px;
}

/* Footers */

footer{
    background-color:#011C40;
    padding: 20px;
    display: flex;
    }

/* ============ 
    Components
   ============ */

   /* Navigation bar */

.logo {
    height: 60px;
    float:left;
    margin: 15px;
    padding: 0px;
    font-size: 0px;
    background-image: url("images/logo/team_2021/final_logo_white_croped.png");
    background-size: 200px;
    background-repeat: no-repeat;
    width: 300px;
}

li {
    display: inline-block;
    margin: 0 88px 0 0;
    }

        /* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    top:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #417FA6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: none;
    font-size: 150%;
    text-align: right;
    height: 55px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 600px;
}

    /* Section */
       

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexbox-item{
    width: 300px;
    margin:100px;
    padding: 27px;
    border:1px solid #333;
    background-color: #dfdfdf;
    border-radius: 20px;
    flex-direction: row;
    }

.flexbox-item.flexbox-item-1{
    background-color: #F2913D;
}

.flexbox-item.flexbox-item-2{
    background-color: #F27C38;

}

.flexbox-item.flexbox-item-3{
    background-color: #F26835;
}

    /* Footer */

footer div {
    margin:auto;
    background: none;
}

img{
    width: 400px;
    object-fit: contain;
    background-position: top left;
    }

    /* links */

a:link {
    text-decoration: none;
    color: white;
    }

a:visited {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #F26835;
    }

/* ================= 
   Responsive Rules
   ================= */

@media screen and (max-width:990px) {

}
