 /* ~~~~~~~~~~~~~~~~~~~~~~~
   
    Table of content

    1. Global Style
    2. Typography
    3. Layout
        3.1 Headers
        3.2 Sections
        3.3 Footers
    4. Components
        4.1 Navigation bar
            4.1.1 Dropdown
        4.2 Section
        4.3 Footer
        4.4 Links
    5. Responsive Rules

    ~~~~~~~~~~~~~~~~~~~~~~~ */


/* ============ 
   Global Style
   ============ */

   body {
    background:rgb(66, 66, 66) ;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ============ 
    Typography
   ============ */

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

/* =========
    Layout
   ========= */
   
   /*headers*/


header.team{
    background-image: url("images/team/DSCF4930.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-position-x: 75%;
    height: 600px;
}

/* Sections */
#logo_Home{
    background-image: url(images/logo/team_2021/logo_home.png);
    position: static;
    top: 100px;
    height: 1080px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
}

#ice_Home{
    background-image: url(images/wallpaint/wallpaint_ice_new.png);
    position: relative;
    top: 0px;
    height: 1080px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top left;
    border: 2px solid black;
    z-index: -1000;
}

.project_introduction {
    width: 60rem;
    height: 30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    position: absolute;
    left: 25%;
    top:15%;
    padding: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

.project_indepth{
    width: 60rem;
    height: 30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    position: absolute;
    left: 25%;
    top:15%;
    padding: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#text_intro {
    background-color: none;
    grid-column: 1/4;
    grid-row: 1;
    text-align: justify;
    text-justify: inter-word;
}


#loss{
    background-color: none;
    grid-column: 1/4;
    text-align: center;
    line-height: 1px;
}

#pourcentage{
    font-size: 125px;
    color: black;
}

#one_product{
    grid-column: 1/4;
    text-align: center;
}

#apricot_yellow{
    grid-column: 1;
    grid-row: 3;
    repeat:none;
    object-fit: cover;
    width: 70%;
    display: flex;

}

#apricot_orange{
    grid-column: 2;
    grid-row: 3;
    repeat:none;
    object-fit: cover;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#apricot_red{
    grid-column: 3;
    grid-row: 3;
    repeat:none;
    object-fit: cover;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#Home h1{
    width: 100%;
    position:absolute;
    bottom: 10%;
}

section {
    background-color: #5D7090;
    color: black;
    height: 5000px;
    padding-top: 200px;
}

/* Footers */

footer{
    background-color:#011C40;
    padding: 20px;
    display: flex;
    }

/* ============ 
    Components
   ============ */

   /* Navigation bar */

.logo {
    height: 60px;
    float:left;
    margin: 15px;
    padding: 0px;
    font-size: 0px;
    background-image: url("images/logo/team_2021/final_logo_white_croped.png");
    background-size: 200px;
    background-repeat: no-repeat;
    width: 300px;
}

li {
    display: inline-block;
    margin: 0 88px 0 0;
    }

        /* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    top:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #417FA6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: none;
    font-size: 150%;
    text-align: right;
    height: 55px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 600px;
}

    /* Section */
.project{
    display: grid;
    grid-template-columns: 500px auto;
    grid-row: repeat(3 1fr);
    grid-gap:10px;
    row-gap: 250px;
    grid-auto-rows: 450px;
    justify-items: start;
    align-items: center;
    padding: 3em;
}

#p1_logo{
    grid-column: 1;
}

#p1_text{
    grid-column: 3/5;
    text-align: justify;
}

#p2_text {
    grid-column: 2/4;
    text-align: justify;

}

#p2_logo {
    grid-column: 5;
    grid-row: 2;
    
}

#p3_logo {
    grid-column: 1;
    grid-row: 3;
}

#p3_text {
    grid-column: 3/5;
    grid-row: 3;
    text-align: justify;
}

    /* Footer */

footer div {
    margin:auto;
    background: none;
}

img{
    width: 400px;
    object-fit: contain;
    background-position: top left;
    }

    /* links */

a:link {
    text-decoration: none;
    color: white;
    }

a:visited {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #F26835;
    }

/* ================= 
   Responsive Rules
   ================= */

@media screen and (max-width:990px) {

}
